@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&display=swap%27');
@import "./utils.scss";
@import "./sass/loader.scss";
@import "./sass/footer.scss";
@import "./sass/mediaqueries.scss";
@import "./sass/base.scss";
@import "./sass/pagemenu.scss";
@import "./sass/mixin.scss";



/***Header***/

    h2{
    font-size: 24px;
    font-family: $secondary-font;
    padding-bottom: 26px;
    padding-left: 14px;
    }

    h1{
        font-family:$main-font;
        @include box-shadow;
        text-align: center;
        padding: 5px;
        position: relative;
        font-style: italic;
        font-weight: 300;
        line-height: 34px;
        margin-bottom: 3px;
        font-size: 32px;
        width: 100%;
        height: 60px;
        padding-left: 15px;
        padding-right: 0px;
    }

/***Nav***/
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $eighth-color;
        padding: 25px;
        text-align: center;


        i{
            font-size: 20px;
            margin-left: 25px;
        }
    }
    
    #input{
        background-color: $eighth-color;
        border: transparent;
        font-family: $secondary-font;
        text-align: center;
        font-size: 18px;
        width: 150px;
    }

/***Info***/

    .info{
        text-align: center;
        background-color: $ninth-color;
        padding-bottom: 37px;
        margin-top: 0;
        margin-bottom: 30px;
 
    h2{
        padding-top: 30px;
        margin-top: 1px;
        margin-bottom: 0px;
        padding-bottom: 15px;
        font-size: 24px;
    }

    p{
        font-size: 14px;
        font-weight: 300;
        margin-top: 0px;
        margin-bottom: 35px;
    }

    .button{
        border: none;
        border-radius: 25px;
        color: $tenth-color;
        cursor: pointer;
        transition: all 2000ms;
        padding: 16px 16px 16px 16px;
        @include button;
        @include box-shadow;
    }

    & .button:hover{
        opacity: 0.5;
        @include button-hover;
        transition-duration: 1000ms;
    }
}

/***Main***/

    .fonctionnement{
        counter-reset: numbers;
        background-color: $tenth-color;
        ol{
            display: flex;
            flex-direction: column;
            gap: 33px;
            padding-left: 20px;
            padding-right: 20px;
        }

        li{
            &:hover{
                i{
                    color: $primary-color;
                }
            }
            &::before{
                content: counter(numbers);
                counter-increment: numbers;
                color: $tenth-color;
                background-color: $primary-color;
                border-radius: 50%;
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                left: -5px;
            }

            background-color: $elevent-color;
            padding: 29px 38px;
            border-radius: 20px;
            flex-grow: 1;
            @include li;
            list-style: none;
            position: relative;
            font-size: 14px;

            .i{
                color: $twelfth-color;
                margin-right: 23px;
                font-size: 18px;
                left: 32px;
                top: 15px;
            }
            .fa-solid{
                font-size: 18px;
                color: $twelfth-color;
                padding-right: 20px;
            }
            .fa-store{
                color: $primary-color;
            }
        }  

    }

/***Menus***/

    .Restaurants{
        background-color: $ninth-color;
        padding-top: 28px ;
        margin-top: 50px;

        h2{
            padding-left: 14px;
        }

        .menus{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 32px;
            width: 100%;
            flex-direction: column;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 66px;

            .new{
                position: relative;
                width: 100%;

            }
            .new:before{
                content: "Nouveau";
                position: absolute;
                height: 29px;
                width: 80px;
                background-color: $tertiary-color;
                color: $fifth-color;
                font-size: 14px;
                font-family: $secondary-font;
                text-align: center;
                right: 16px;
                top: 16px;
                line-height: 29px;
            }
        }


        .menucard{
            width: 100%;
            background: $tenth-color;
            border-radius: 15px;
            @include map;
            height: 310px;
        img{
            object-fit: cover;
            width: 100%;
            height: 240px;
            border-radius: 15px 15px 0px 0px;
        }    
        }
    }

        .card-description{
            position: relative;
            padding-top: 10px;
            a{
                font-size: 18px;
                font-family: $secondary-font;
                color: $fourth-color;
                margin-bottom: 4px;
                font-weight: 700;
                padding-left: 13px;
            }
            p{
                font-size: 17px;
                font-family: $secondary-font;
                color: $fourth-color;
                margin-bottom: 52px;
                padding-top: 4px;
                margin-top: 0px;
                font-weight: 300;
                padding-left: 13px;
            }
          }

          .heart{
            i{
                font-size: 2rem;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }

            .far{
                color: $six-color;
            }

            .fas{
                color: transparent;
                background-image: linear-gradient($primary-color,$secondary-color);
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
            }

            .fas:hover{
                opacity: 1;
            }
          }