@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&display=swap%27");
/****Variable****/
/****** General ***********/
* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 20px;
}

/***Header***/
h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 5px;
  position: relative;
  font-style: italic;
  font-weight: 300;
  line-height: 34px;
}

/***Nav***/
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #Eaeaea;
  padding: 25px;
  text-align: center;
}
.nav i {
  font-size: 20px;
  margin-left: 25px;
}

#input {
  background-color: #Eaeaea;
  border: transparent;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/***Info***/
.info {
  text-align: center;
  background-color: #f7f7f7;
}
.info h2 {
  padding-top: 50px;
}
.info p {
  font-size: 18px;
  font-weight: 300;
}

.info button {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 25px;
  border: transparent;
  width: 218px;
  height: 50px;
  color: #ffffff;
  margin-top: 25px;
}

/***Main***/
.fonctionnement {
  counter-reset: numbers;
}
.fonctionnement ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fonctionnement li {
  background-color: #F7f7f7;
  padding: 16px 32px;
  border-radius: 20px;
  flex-grow: 1;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  list-style: none;
  position: relative;
}
.fonctionnement li::before {
  content: counter(numbers);
  counter-increment: numbers;
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -0.5rem;
}
.fonctionnement i {
  color: #7e7e7e;
  margin-right: 23px;
}

/***Menus***/
.Restaurants {
  background-color: #f7f7f7;
}
.Restaurants h2 {
  margin-bottom: 30px;
  margin-top: 30px;
}
.Restaurants .menus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  width: 100%;
  flex-direction: column;
}
.Restaurants .menus .new {
  position: relative;
}
.Restaurants .menus .new:before {
  content: "Nouveau";
  position: absolute;
  height: 29px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  right: 16px;
  top: 16px;
  line-height: 29px;
}
.Restaurants .menucard img {
  object-fit: cover;
  width: 100%;
  height: 240px;
  border-radius: 15px 15px 0px 0px;
}

.card-description {
  position: relative;
}
.card-description h3 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: black;
  margin-bottom: 4px;
}
.card-description p {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: black;
}
.card-description i {
  font-size: 30px;
  position: absolute;
  right: 16px;
  top: 2px;
}
.card-description .far {
  color: black;
}
.card-description .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.card-description:hover .fas {
  opacity: 1;
}

/***Footer***/
.footer {
  background-color: #353535;
}
.footer h2 {
  font-size: 18px;
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 400;
  padding: 23px;
}
.footer .down {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
}
.footer .down a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 23px;
}
.footer .down li {
  padding-bottom: 7px;
}



/*# sourceMappingURL=style.css.map */
