@mixin li{
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

@mixin button{
background: linear-gradient(352.33deg,$primary-color -11.44%, $secondary-color 123.93%);
}

@mixin button-hover{
box-shadow: 0px 4px 10px rgba(0,0,0,0.95);
}

@mixin map{
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

@mixin box-shadow{
box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}